.topBar-container {
  position: absolute;
  display: flex;
  align-items: center;
  color: black;
  justify-content: space-between;
  padding: 0 60px 0 1rem;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: 99;
}

.topBar-menu {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 1rem;
  color: white;
  z-index: 200;
}

.menu-item {
  color: rgba(10, 8, 65, 1);
  font-size: 15px;
  font-family: Roboto;
  font-weight: 500;
}

.active {
  text-decoration: underline;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}