.phone-input-wrapper {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  overflow: hidden;
}

.ddd-input-group {
  display: flex;
  align-items: center;
  border-right: 1px solid #e0e0e0;
  background: transparent;
  height: 100%;
  min-width: 25%;
  padding: 0 8px 0 4px;
}

.phone-input-icon {
  color: #54595FE8;
  font-size: 1.3rem;
  margin-right: 2px;
}

.ddd-input {
  border: none;
  background: transparent;
  outline: none;
  width: 40px;
  font-size: 1rem;
  color: #54595FE8;
  text-align: center;
}

.phone-input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1rem;
  color: #54595FE8;
  width: 100%;
  padding-left: 12px;
  height: 100%;
}

.phone-input::placeholder {
  color: #636363; 
  opacity: 1;
}