.main-pop {
  transition: width .4s ease, height .4s ease;
  border-radius: 6px;
}

.open-btn {
  background-color: #111637;
  width: 80px;
  height: 30px;
  color: white;
  border: 1px solid #ccc;
  font-weight: bold;
  text-transform: uppercase;
}

.close-btn {
  background-color: rgb(10, 8, 65);
  width: 30px;
  border-radius: 50%;
  height: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.home-btn {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: rgb(10, 8, 65);
  font-size: 30px;
}