.container {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.title-page {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  color: rgba(10, 8, 65, 1);
}

.list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.list-items-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item-icon {
  color: rgba(150, 150, 150, 1);
  font-size: 20px;
}

.filter-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  margin-left: 0.5rem;
}

.add-filter-btn {
  width: 100px;
  max-width: 88.23px;
  height: 30px;
  background-color: #21C063;
  color: whitesmoke;
  border-radius: 50px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-right: 15px;
  margin-top: 1rem;
}

.add-filter-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  margin-left: 1rem;
  background-color: #21C063;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  color: white;
}

.active-add {
  background-color: red !important;
}