.container {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-page {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  color: rgba(10, 8, 65, 1);
}